body {min-width:1200px; font-family: "Hiragino Sans GB","Microsoft YaHei",Helvetica,Arial,sans-serif; font-size: 14px;line-height: 24px; color: #999; background-color: #fff;}


.index-top-login {
	position: absolute;
    left: 64%;
	top: 70px;
	width: 300px;
	height: 270px;
    background: rgba(255,255,255,0.7);
	border-radius: 3%;
	z-index: 10;
}
.index-top-login input {
    background: none;
    text-align: 6px;
}

.gamename {
	position: absolute;
	top: 32px;
	left: 116px;
	font-size: 15px;
	font-weight: 600;
	color: #000;
}

.gamename:hover{
    color: #F38400;
}
.gamedescription {
	position: absolute;
	top: 55px;
	left: 116px;
	font-size: 13px;
	color: gray;
}